@import "sidepanel";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.App-logo {
  cursor: pointer;
}

.top-bar {
  padding: 10px 0px;
  text-align: center;
  height: 8vh;
}

.map {
  width: 100%;
  height: 92vh;
}

.css-mhc70k-MuiGrid-root {
  margin-top: 0px!important;
  margin-left: 0px!important;
  width: 100%!important;
}